
body{
	background-color: #F7F9F7;
	transition: .3s
}

#editor
{
	min-height: 150px;
}


/*design the brand icon*/

#reload:hover{
	background-color: #990033 !important;
	transition: all 0.6s ease;
}

#reload:active{
	background-color: #80002a !important;
	color:#d9d9d9 !important;
}

#reload {
	color:white !important;
	font-family: Century Gothic;
	background-color: #DB2555 !important;
	font-size: 21px;
	//border-color: white;
	//margin-left: 0px !important;
	float:left;
	//box-shadow: 0.5px 0.5px 4px 3px #f72727 inset;
	float: left;
}



/*desing the symbols of the latex tables*/

.symbols-panel>.symbols{
	background-color:transparent; 
    color: black;
    font-size: 12px;
    border: none ;
    outline: none :

}

.symbols-panel>.symbols:hover{
	background-color:#dce0e8; 
}

.symbols-panel{
	background-color:#B2DBBF!important;
	padding-top:2px;
	padding-bottom:1px;
	padding-right:5px;
	//margin-bottom:1px;
	overflow-x: auto;
	max-height: 60px;
	width:auto;
	text-align:center;
}

#custom-navbar{
	background-color: #247BA0;
}


#mainContainer{
	margin-top: 110px;
	width:100%;
	transition: margin 0.7s;
    transition: opacity 1s;
}


.functions{
	color:white !important;
	font-family: Verdana;
	font-size: 14px;
}

.functions:hover{
	background-color:#1A5B77 !important;
}

.panel-heading
{
	min-height:35px; 
	//background-color: #70C1B3 !important;
}
#editor
{
	//background-color: #B2DBBF !important;
}






