
/*resources may be needed*/

	/* unvisited link */
	/*.functions:link {
	    color: red !important;
	}*/

	/* visited link */
	/*.functions:visited {
	    color: black !important;
	}*/

	/* mouse over link */
	/*.functions:hover {
	    color: blue !important;
	}*/

	/* selected link */
	/*.functions:active {
	    color: hotpink !important;
	}*/


/*	
	/*previous work*/

	/*
	.navbar-light .navbar-nav > li > a:hover{
		background-color: black!important;
		transition: all 0.3s ease;
	}
	.navbar-light .navbar-nav > li > a:active{
		color: #f2f2f2!important;
	}*/


body{
	background-color: #eceff1;
	transition: .3s
}

#mySidenav .functions{
	color: white !important;
	padding:0.27cm !important;
}

#mySidenav .functions:hover{
	background-color: #333!important;
	transition: 0.7s;
}

#mySidenav .functions:active{
	background-color: #666!important;
}
.navbar-light .navbar-nav > li > a:visited{
	background-color: #262626!important;
}

.navbar-light .navbar-toggle .icon-bar {
		background-color: #d9d9d9;
}

.navbar-light .navbar-toggle:hover .icon-bar {
		background-color: #ffffff;
		transition: all 0.3s ease;
}

#reload:hover{
	background-color: #990033 !important;
	transition: all 0.6s ease;
}

#reload:active{
	background-color: #80002a !important;
	color:#d9d9d9 !important;
}

#reload {
	color:white !important;
	font-family: Georgia;
	background-color: #cc0000 !important;
	border-color: white;
	//margin-left: 0px !important;
	float:left;
	box-shadow: 0.5px 0.5px 4px 3px #f72727 inset;
}

#mainContainer{
	margin-top: 75px;
}
#mainContainer .form-group{
	transition: opacity 1s;
	color: black;
}

.navbar-light .panel-default .symbols:hover {
	color: white;
     background-color: #cc0000;
     border-color: black!important;

}

.navbar-light .panel-default .symbols:active {
     color: #660033;
     background-color: #b30000;


}

.navbar-light .panel-default .symbols{
	background-color:transparent ; 
        color: white;
        border-color: transparent;
        padding-left: 0.2cm;
	
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#main .navbar-light{
	background-color: #333!important;
}

#main .navbar-light .icon_bars {
    display: inline-block;
    cursor: pointer;
    margin-top: 6px;
    margin-left: -10px;
    margin-right: 20px;
    float:right;
  }

#main .navbar-light .bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #ff0000;
    margin: 5px;
    transition: 0.4s;
    box-shadow: 0.5px 0.5px 0.5px 0.5px white inset;
    
}

/* Rotate first bar */
#main .navbar-light .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
#main .navbar-light .change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
#main .navbar-light .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#symbols_table{
	background-color:#333;
	border-color:#333;
	border-top-color: white!important;
	transition: height 2s;
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 1s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav ul > li> a {
    padding: 5px 20px 3px 2px;
    text-decoration: none;
    font-size: 17px;
    color: #818181;
    display: flex;
    overflow: hidden;
    display: block;
    white-space:nowrap;
    margin:0 15px 0px -25px;
}
.sidenav ul {
	list-style: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav ul > a:hover, .offcanvas ul > a:focus{
    color: #f1f1f1;
}

